In [3]:
!pip install tensorflow numpy pandas transformers

Requirement already satisfied: tensorflow in /home/jay/miniconda3/lib/python3.9/site-packages (2.13.0)
Requirement already satisfied: numpy in /home/jay/miniconda3/lib/python3.9/site-packages (1.24.3)
Requirement already satisfied: pandas in /home/jay/miniconda3/lib/python3.9/site-packages (2.0.3)
Collecting transformers
  Obtaining dependency information for transformers from https://files.pythonhosted.org/packages/21/02/ae8e595f45b6c8edee07913892b3b41f5f5f273962ad98851dc6a564bbb9/transformers-4.31.0-py3-none-any.whl.metadata
  Downloading transformers-4.31.0-py3-none-any.whl.metadata (116 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 116.9/116.9 kB 339.7 kB/s eta 0:00:00[31m1.5 MB/s eta 0:00:01
Requirement already satisfied: absl-py>=1.0.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=23.1.21 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (1.56.2)
Requirement already satisfied: h5py>=2.9.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (3.9.0)
Requirement already satisfied: keras<2.14,>=2.13.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (2.13.1)
Requirement already satisfied: libclang>=13.0.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (16.0.6)
Requirement already satisfied: opt-einsum>=2.3.2 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (23.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (4.23.4)
Requirement already satisfied: setuptools in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (67.8.0)
Requirement already satisfied: six>=1.12.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.14,>=2.13 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: tensorflow-estimator<2.14,>=2.13.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (2.13.0)
Requirement already satisfied: termcolor>=1.1.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions<4.6.0,>=3.6.6 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (4.5.0)
Requirement already satisfied: wrapt>=1.11.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorflow) (0.33.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jay/miniconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from pandas) (2023.3)
Collecting filelock (from transformers)
  Obtaining dependency information for filelock from https://files.pythonhosted.org/packages/00/45/ec3407adf6f6b5bf867a4462b2b0af27597a26bd3cd6e2534cb6ab029938/filelock-3.12.2-py3-none-any.whl.metadata
  Downloading filelock-3.12.2-py3-none-any.whl.metadata (2.7 kB)
Collecting huggingface-hub<1.0,>=0.14.1 (from transformers)
  Obtaining dependency information for huggingface-hub<1.0,>=0.14.1 from https://files.pythonhosted.org/packages/7f/c4/adcbe9a696c135578cabcbdd7331332daad4d49b7c43688bc2d36b3a47d2/huggingface_hub-0.16.4-py3-none-any.whl.metadata
  Downloading huggingface_hub-0.16.4-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: pyyaml>=5.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from transformers) (6.0)
Collecting regex!=2019.12.17 (from transformers)
  Obtaining dependency information for regex!=2019.12.17 from https://files.pythonhosted.org/packages/5e/a8/2e3626392c4fcf7e3920cae166155542838be2048384989e2c6f024b793d/regex-2023.6.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading regex-2023.6.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.9/40.9 kB 469.3 kB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: requests in /home/jay/miniconda3/lib/python3.9/site-packages (from transformers) (2.29.0)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers)
  Using cached tokenizers-0.13.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
Collecting safetensors>=0.3.1 (from transformers)
  Using cached safetensors-0.3.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
Requirement already satisfied: tqdm>=4.27 in /home/jay/miniconda3/lib/python3.9/site-packages (from transformers) (4.65.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from astunparse>=1.6.0->tensorflow) (0.38.4)
Collecting fsspec (from huggingface-hub<1.0,>=0.14.1->transformers)
  Obtaining dependency information for fsspec from https://files.pythonhosted.org/packages/e3/bd/4c0a4619494188a9db5d77e2100ab7d544a42e76b2447869d8e124e981d8/fsspec-2023.6.0-py3-none-any.whl.metadata
  Downloading fsspec-2023.6.0-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: google-auth<3,>=1.6.3 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorboard<2.14,>=2.13->tensorflow) (2.22.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorboard<2.14,>=2.13->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorboard<2.14,>=2.13->tensorflow) (3.4.4)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorboard<2.14,>=2.13->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from tensorboard<2.14,>=2.13->tensorflow) (2.3.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jay/miniconda3/lib/python3.9/site-packages (from requests->transformers) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/jay/miniconda3/lib/python3.9/site-packages (from requests->transformers) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from requests->transformers) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /home/jay/miniconda3/lib/python3.9/site-packages (from requests->transformers) (2023.7.22)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /home/jay/miniconda3/lib/python3.9/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /home/jay/miniconda3/lib/python3.9/site-packages (from markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow) (6.0.0)
Requirement already satisfied: MarkupSafe>=2.1.1 in /home/jay/miniconda3/lib/python3.9/site-packages (from werkzeug>=1.0.1->tensorboard<2.14,>=2.13->tensorflow) (2.1.1)
Requirement already satisfied: zipp>=0.5 in /home/jay/miniconda3/lib/python3.9/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.14,>=2.13->tensorflow) (3.11.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /home/jay/miniconda3/lib/python3.9/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.14,>=2.13->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /home/jay/miniconda3/lib/python3.9/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.14,>=2.13->tensorflow) (3.2.2)
Using cached transformers-4.31.0-py3-none-any.whl (7.4 MB)
Using cached huggingface_hub-0.16.4-py3-none-any.whl (268 kB)
Using cached regex-2023.6.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (769 kB)
Using cached filelock-3.12.2-py3-none-any.whl (10 kB)
Using cached fsspec-2023.6.0-py3-none-any.whl (163 kB)
Installing collected packages: tokenizers, safetensors, regex, fsspec, filelock, huggingface-hub, transformers
Successfully installed filelock-3.12.2 fsspec-2023.6.0 huggingface-hub-0.16.4 regex-2023.6.3 safetensors-0.3.1 tokenizers-0.13.3 transformers-4.31.0

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

2023-08-03 11:13:07.822555: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-08-03 11:13:08.692123: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
!nvidia-smi -L

GPU 0: NVIDIA GeForce 940MX (UUID: GPU-ffb5177f-d8ce-71bb-2ac1-8bdd43322698)

# PREPROCESSING

In [69]:
df = pd.read_csv('sentiment_batch_one')

In [70]:
df

     Unnamed: 0                                             review  sentiment
0             0  is upset that he can't update his Facebook by ...          1
1             1  @Kenichan I dived many times for the ball. Man...          1
2             2    my whole body feels itchy and like its on fire           2
3             3  @nationwideclass no, it's not behaving at all....          1
4             4                      @Kwesidei not the whole crew           1
..          ...                                                ...        ...
494         494                    @Brodhe geez ur no fun are you           1
495         495              I wanna be in a punk rock band again           5
496         496  @jyesmith That's a lot of angst for a Tuesday ...          1
497         497  I'm very glad Britney isn't crazy anymore! Tha...          5
498         498      has a huuuge headache! omg I feel like crap!           1

[499 rows x 3 columns]

In [71]:
df = df.drop(['Unnamed: 0'], axis=1)

In [72]:
df

                                                review  sentiment
0    is upset that he can't update his Facebook by ...          1
1    @Kenichan I dived many times for the ball. Man...          1
2      my whole body feels itchy and like its on fire           2
3    @nationwideclass no, it's not behaving at all....          1
4                        @Kwesidei not the whole crew           1
..                                                 ...        ...
494                    @Brodhe geez ur no fun are you           1
495              I wanna be in a punk rock band again           5
496  @jyesmith That's a lot of angst for a Tuesday ...          1
497  I'm very glad Britney isn't crazy anymore! Tha...          5
498      has a huuuge headache! omg I feel like crap!           1

[499 rows x 2 columns]

In [7]:
#shuffling the data
df = df.sample(frac=1, random_state=42) 
df

                                                review  sentiment
460  Just heard that they found Sandra Cantu... She...          2
73   Why won't you show my location?!   http://twit...          1
231              might be getting a sore throat again           3
175  @ColinDeMar Far too out of the way for rail.  ...          2
237  im lonely  keep me company! 22 female, california          5
..                                                 ...        ...
106  would rather the first party send bad messages...          1
270  spent 1 hour to reach to Axis bank only to fin...          1
348  @Dangerm0use I think maybe you should get a co...          2
435       @B_Barnett I did not really see that coming           3
102                                     watching &quot          5

[499 rows x 2 columns]

In [73]:
df.sentiment.value_counts()

sentiment
1    264
2     76
5     72
3     70
4     17
Name: count, dtype: int64

In [74]:
df2 = pd.read_csv('sentiment_batch_two')
df2

      Unnamed: 0                                             review  sentiment
0              0    @cleders sorry...i was rooting for them too...           1
1              1                           Man, that took forever.           5
2              2                              @shandasaurus  I see.          5
3              3  I am listing more items on ebay to sell!  Take...          1
4              4  Just got my presentation done, 23 slides done....          5
...          ...                                                ...        ...
1494        1494                          @roxy_yeah yep a loser.            1
1495        1495  and finito! All bathroom contractors been thru...          5
1496        1496  @caitlinaudrey awww!  that sucks! are you goin...          1
1497        1497  Sorry, SF. Rescheduling my SF trip for this co...          1
1498        1498  2morw  I get my blasted wisdom teeth pulled! N...          1

[1499 rows x 3 columns]

In [75]:
df2 = df2.drop(['Unnamed: 0'], axis=1)

In [76]:
df2

                                                 review  sentiment
0       @cleders sorry...i was rooting for them too...           1
1                              Man, that took forever.           5
2                                 @shandasaurus  I see.          5
3     I am listing more items on ebay to sell!  Take...          1
4     Just got my presentation done, 23 slides done....          5
...                                                 ...        ...
1494                          @roxy_yeah yep a loser.            1
1495  and finito! All bathroom contractors been thru...          5
1496  @caitlinaudrey awww!  that sucks! are you goin...          1
1497  Sorry, SF. Rescheduling my SF trip for this co...          1
1498  2morw  I get my blasted wisdom teeth pulled! N...          1

[1499 rows x 2 columns]

In [77]:
df2.sentiment.value_counts()

sentiment
1    795
5    253
3    197
2    185
4     69
Name: count, dtype: int64

In [78]:
frames = [df , df2]

In [79]:
dataset = pd.concat(frames)

In [80]:
dataset

                                                 review  sentiment
0     is upset that he can't update his Facebook by ...          1
1     @Kenichan I dived many times for the ball. Man...          1
2       my whole body feels itchy and like its on fire           2
3     @nationwideclass no, it's not behaving at all....          1
4                         @Kwesidei not the whole crew           1
...                                                 ...        ...
1494                          @roxy_yeah yep a loser.            1
1495  and finito! All bathroom contractors been thru...          5
1496  @caitlinaudrey awww!  that sucks! are you goin...          1
1497  Sorry, SF. Rescheduling my SF trip for this co...          1
1498  2morw  I get my blasted wisdom teeth pulled! N...          1

[1998 rows x 2 columns]

In [81]:
dataset.to_csv('Dataset')

## spliting training , test , validation

In [82]:
import sklearn
from sklearn.model_selection import train_test_split

In [83]:
train_df, test_df = train_test_split(dataset, test_size=0.1)
train_df, val_df = train_test_split(train_df, test_size=0.1)

In [84]:
train_df

                                                 review  sentiment
522                New Post!  http://tinyurl.com/cexkqy          5
830             CURSE MY SLOW INTERNET. I miss YouTube           1
1131  @heidimontag I love the hills but I missed the...          3
1013  or should i say my brain needs to optimise my ...          3
1075  Ok... so 2 hours into the self imposed shoppin...          3
...                                                 ...        ...
294   @aaronrva is in the bathroom and i have to pee...          5
14    @iamjazzyfizzle I wish I got to watch it with ...          1
414   Didn't sleep too bad considering I have a work...          3
545        i need new glasses...mines is hangnon 1 arm           2
1128  DAMN- my PC has COMPLETELY given out  this suc...          1

[1618 rows x 2 columns]

In [85]:
test_df

                                                 review  sentiment
539                      Headache... Pleeeease go away           1
450   Lookin like an all-nighter. I hate it when I d...          1
380                         homework homework homework           4
35    @cocomix04 ill tell ya the story later  not a ...          1
409   @Sephystryx I've been looking about for good s...          4
...                                                 ...        ...
311   Su yin Huen tweeted I feel unbearable guilt. I...          1
243   @miss_om Aww  I know I felt like that yesterda...          1
293         The internet is hating me. Night i s'pose.           1
1145  @SukottoXD I saw ice in the rain today. Not qu...          3
1360  @wilshipley  I am sad... the Dutch localizatio...          1

[200 rows x 2 columns]

In [86]:
val_df

                                                 review  sentiment
743   ok... maybe i'll sleep for an hour or two. The...          3
676   good night swetdreamss to everyonee   and jare...          5
677                         Horrible sore throat  hurts          1
1301                 sat at work  Not fair, so not fair          3
581   Jade is looking for a new home...  http://apps...          4
...                                                 ...        ...
1325                             Longing for yesterday           5
203                       @lilbucknuts41 not an option           1
156                  Getting eyebrows waxed. More pain           2
599   Morning all, starving and dying for a cuppa bu...          4
710   didn't pass the first part of the CSET  I miss...          1

[180 rows x 2 columns]

In [87]:
x_train = train_df.iloc[:, :-1].values
y_train = train_df.iloc[:, -1].values

In [88]:
x_test = test_df.iloc[:, :-1].values
y_test = test_df.iloc[:, -1].values

In [89]:
x_val = val_df.iloc[:, :-1].values
y_val = val_df.iloc[:, -1].values

# TEXT VECTORIZATION AND EMBEDDING

In [90]:
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

In [98]:
x_train

array([['New Post!  http://tinyurl.com/cexkqy'],
       ['CURSE MY SLOW INTERNET. I miss YouTube '],
       ['@heidimontag I love the hills but I missed the show tonight '],
       ...,
       ["Didn't sleep too bad considering I have a workshop starting today. Beginnings of a sore throat though "],
       ['i need new glasses...mines is hangnon 1 arm '],
       ['DAMN- my PC has COMPLETELY given out  this sucks ...']],
      dtype=object)

In [102]:
max_vocab_length = 10000 
max_length = 30
text_vectorizer = TextVectorization(max_tokens=max_vocab_length,
                                    output_mode="int",
                                    output_sequence_length=max_length)

In [103]:
text_vectorizer.adapt(x_train)

In [104]:
sample_sentence = "There's a flood in my street!"
text_vectorizer([sample_sentence])

<tf.Tensor: shape=(1, 30), dtype=int64, numpy=
array([[ 298,    6,    1,    9,    5, 2056,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
           0,    0,    0,    0,    0,    0,    0,    0]])>

In [107]:
text_from_dataset ="A beautiful morning - the sun is shining, the birds are singing, I've just been playing Mousetrap with the kids... damn, now work "
text_vectorizer([text_from_dataset])

<tf.Tensor: shape=(1, 30), dtype=int64, numpy=
array([[   6, 1462,   80,    4,  728,    8, 1043,    4, 4484,   65, 2202,
         104,   23,   94,  275, 2908,   32,    4,  460,  177,   31,   38,
           0,    0,    0,    0,    0,    0,    0,    0]])>

In [108]:
words_in_vocab = text_vectorizer.get_vocabulary()
top_5_words = words_in_vocab[:5] # the most common words in the vocab
bottom_5_words = words_in_vocab[-5:] # the least common words in the vocab
print(f"Most common words in vocab: {top_5_words}")
print(f"Least common words in vocab: {bottom_5_words}")

Most common words in vocab: ['', '[UNK]', 'i', 'to', 'the']
Least common words in vocab: ['1001', '0g', '09', '0830', '08']